@import '../common';

.header {
    background-color: $headerBg;
    display: flex;
    height: 165px;
    justify-content: center;
    padding: 50px;

    &--logo {
        color: $logo;
        position: absolute;
        left: 50px;
        top: 25px;
    }

    &--title {
        color: $white;
        font-size: 50px;
        font-weight: 900;
    }
}