@import url(http://fonts.googleapis.com/css?family=Roboto);
@import '../assets/styles/icon-font';

$headerBg: #323a45;

$navBottomBg: #f9fafc;
$navBottomBgSelected: #efefef;
$navBottomBorder: #e9eaee;
$navBottomIcon: #5e6d80;

$logo: #5e6d80;

$blueLight: #93a0b2;
$gray: #dce1e7;
$grayDark: #b9b9b9;
$white: #ffffff;
$yellow: #fed200;
